
<% if (path === '/user-images') { %>
    <script src="/js/userImages.js"></script>
  <% }  %>
  <% if (path === '/user-page') { %>
    <script src="/js/index.js"></script>
  <% }  %>
  <% if (path === '/user-friends') { %>
    <script src="/js/friendsSearch.js"></script>
  <% }  %>
</body>

</html>